@import '../../_css/common';

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.price {
  font-weight: 700;
  color: #333;
  font-size: 22px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #007bff;
  }

  > * {
    margin: 0;
  }

  @include small-break {
    font-size: 20px;
  }
}
