@import '../../_css/common';

.scrollRef {
  position: absolute;
  left: 0;
  top: -50px;

  @include mid-break {
    top: -30px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Ensure 3 equal columns
  gap: 20px; // Keep gap for spacing between cards
  width: 100%; // Ensure the grid takes up the full container width
  padding: 0; // Remove any padding around the grid

  @include large-break {
    grid-template-columns: repeat(2, 1fr); // 2 equal columns on medium screens
    gap: 20px;
  }

  @include small-break {
    grid-template-columns: 1fr; // 1 column on small screens
    gap: 20px;
  }
}

.pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include mid-break {
    margin-top: 30px;
  }

  button {
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #0056b3;
    }
  }
}
