@import '../../../_css/common';

.filters {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  background: linear-gradient(135deg, #f5f5f5, #e9ecef);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 220px; // Decrease this value to make the sidebar narrower

  @include large-break {
    width: 180px; // Adjust the width for larger screens if necessary
    flex-direction: row;
    gap: 40px;
  }
  
  @include small-break {
    width: 100%; // Ensure it takes the full width on small screens
    flex-direction: column;
    gap: 20px;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  @include large-break {
    flex-direction: row;
  }

  @include small-break {
    flex-direction: column;
  }
}

.title {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
}

.checkbox,
.radioButton {
  position: relative;
  padding-left: 24px;
  cursor: pointer;

  &:hover {
    color: #007bff;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #007bff;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  &.isSelected::before {
    background-color: #007bff;
    border-color: #0056b3;
  }
}

.hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}
